In [1]:
#import pandas and numpy

import pandas as pd
import numpy as np

In [2]:
#enter a data
dict={
    "name":['Harry','Rohan','Skillf','Subh'],
    "marks":[90,87,79,85],
    "city":['Lucknow','Mumbai','Delhi','Banglore']
}

In [3]:
#showing data frame
df = pd.DataFrame(dict)

In [4]:
print(df)  #row indentify by index and column by name

     name  marks      city
0   Harry     90   Lucknow
1   Rohan     87    Mumbai
2  Skillf     79     Delhi
3    Subh     85  Banglore

In [5]:
#to export data in csv or excel
df.to_csv('Student.csv')

In [6]:
# if we don't want to save index
df.to_csv('student_without_index.csv',index=False)

In [7]:
#to see staring rows
df.head(2)  #if head is empty it shows few starting data

    name  marks     city
0  Harry     90  Lucknow
1  Rohan     87   Mumbai

In [8]:
#shows numerical column statistic data
df.describe()

           marks
count   4.000000
mean   85.250000
std     4.645787
min    79.000000
25%    83.500000
50%    86.000000
75%    87.750000
max    90.000000

In [9]:
#to read data
print(pd.read_csv('student_without_index.csv'))

     name  marks      city
0   Harry     90   Lucknow
1   Rohan     87    Mumbai
2  Skillf     79     Delhi
3    Subh     85  Banglore

In [10]:
train=pd.read_csv('train.csv')

In [11]:
train

   TRAIN  SPEED      CITY
0  12345      50  LUCKNOW
1  12546     104    DELHI
2  48955      56     PUNE
3  56897      85   MUMBAI

In [12]:
train['SPEED ']

0     50
1    104
2     56
3     85
Name: SPEED , dtype: int64

In [13]:
train['SPEED '][0]

50

In [14]:
train['SPEED '][0]=50  #to change value

C:\Users\nav7u\AppData\Local\Temp\ipykernel_428\1691662561.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['SPEED '][0]=50  #to change value

In [15]:
train['SPEED '][0]

50

In [16]:
train

   TRAIN  SPEED      CITY
0  12345      50  LUCKNOW
1  12546     104    DELHI
2  48955      56     PUNE
3  56897      85   MUMBAI

In [17]:
train.to_csv('train.csv',index=False)

In [18]:
#to change index from o 1 2 ... to name
train.index=['first','second','third','fourth']

In [19]:
train

        TRAIN  SPEED      CITY
first   12345      50  LUCKNOW
second  12546     104    DELHI
third   48955      56     PUNE
fourth  56897      85   MUMBAI

In [20]:
#to generate random series
newdf=pd.DataFrame(np.random.rand(50,5),index=np.arange(50))

In [21]:
newdf

           0         1         2         3         4
0   0.915745  0.071505  0.269820  0.089495  0.079508
1   0.116828  0.467167  0.108266  0.682470  0.455040
2   0.057368  0.589525  0.850322  0.737719  0.963583
3   0.794483  0.859540  0.421362  0.375615  0.444670
4   0.232749  0.823588  0.982229  0.002032  0.332501
5   0.970108  0.267476  0.327169  0.862918  0.768812
6   0.102828  0.953421  0.360648  0.431597  0.030185
7   0.182527  0.051682  0.620288  0.853434  0.324586
8   0.232518  0.034265  0.326712  0.813759  0.010466
9   0.340690  0.910038  0.293726  0.109882  0.689943
10  0.091192  0.241515  0.235934  0.904396  0.155773
11  0.572926  0.409134  0.749495  0.630923  0.079969
12  0.191295  0.140298  0.913058  0.403997  0.425318
13  0.053545  0.743588  0.045677  0.746104  0.303892
14  0.166640  0.416513  0.639310  0.560431  0.028280
15  0.107258  0.495714  0.475065  0.080409  0.186404
16  0.225552  0.418660  0.071517  0.725478  0.459326
17  0.975941  0.328496  0.177288  0.117249  0.213418
18  0.781093  0.495950  0.413331  0.076533  0.928598
19  0.211450  0.736013  0.597712  0.879933  0.299553
20  0.446230  0.513588  0.375828  0.624042  0.240987
21  0.311652  0.561601  0.322760  0.416222  0.866461
22  0.944032  0.422119  0.779036  0.814483  0.494676
23  0.743129  0.546383  0.719197  0.463007  0.093087
24  0.470625  0.508662  0.388017  0.655917  0.313429
25  0.284631  0.868846  0.815575  0.389771  0.899431
26  0.025947  0.207675  0.942685  0.018160  0.883281
27  0.487519  0.051620  0.736021  0.022851  0.768472
28  0.391606  0.022638  0.913124  0.675672  0.863364
29  0.755084  0.012832  0.253696  0.496321  0.924228
30  0.124893  0.577283  0.720963  0.037607  0.551044
31  0.438282  0.549266  0.683077  0.606785  0.392027
32  0.668607  0.759939  0.424514  0.725927  0.237899
33  0.088259  0.524868  0.452873  0.191608  0.772444
34  0.707079  0.526687  0.751959  0.294343  0.066839
35  0.472461  0.531020  0.146774  0.255906  0.204828
36  0.447307  0.172051  0.636425  0.798807  0.608346
37  0.996761  0.608085  0.214305  0.361749  0.804374
38  0.789310  0.019554  0.761156  0.174534  0.137886
39  0.884287  0.556331  0.104093  0.123401  0.360330
40  0.939423  0.983603  0.828585  0.467134  0.256354
41  0.601746  0.770326  0.036018  0.670387  0.641147
42  0.908193  0.759991  0.070906  0.457229  0.807094
43  0.358997  0.189311  0.625363  0.680197  0.685785
44  0.323391  0.934647  0.551644  0.565041  0.731831
45  0.934523  0.077235  0.025400  0.803901  0.022786
46  0.512808  0.961178  0.128469  0.251612  0.265777
47  0.450715  0.532608  0.421752  0.489388  0.532724
48  0.921445  0.576404  0.570222  0.458661  0.337823
49  0.280620  0.575135  0.427423  0.233904  0.637763

In [22]:
newdf.head()

          0         1         2         3         4
0  0.915745  0.071505  0.269820  0.089495  0.079508
1  0.116828  0.467167  0.108266  0.682470  0.455040
2  0.057368  0.589525  0.850322  0.737719  0.963583
3  0.794483  0.859540  0.421362  0.375615  0.444670
4  0.232749  0.823588  0.982229  0.002032  0.332501

In [23]:
#to know type
type(newdf)

pandas.core.frame.DataFrame

In [24]:
train.dtypes #to know data type of each column in a dataset

TRAIN      int64
SPEED      int64
CITY      object
dtype: object

In [25]:
newdf[0][0]='nevendra'

In [26]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [27]:
newdf

           0         1         2         3         4
0   nevendra  0.071505  0.269820  0.089495  0.079508
1   0.116828  0.467167  0.108266  0.682470  0.455040
2   0.057368  0.589525  0.850322  0.737719  0.963583
3   0.794483  0.859540  0.421362  0.375615  0.444670
4   0.232749  0.823588  0.982229  0.002032  0.332501
5   0.970108  0.267476  0.327169  0.862918  0.768812
6   0.102828  0.953421  0.360648  0.431597  0.030185
7   0.182527  0.051682  0.620288  0.853434  0.324586
8   0.232518  0.034265  0.326712  0.813759  0.010466
9    0.34069  0.910038  0.293726  0.109882  0.689943
10  0.091192  0.241515  0.235934  0.904396  0.155773
11  0.572926  0.409134  0.749495  0.630923  0.079969
12  0.191295  0.140298  0.913058  0.403997  0.425318
13  0.053545  0.743588  0.045677  0.746104  0.303892
14   0.16664  0.416513  0.639310  0.560431  0.028280
15  0.107258  0.495714  0.475065  0.080409  0.186404
16  0.225552  0.418660  0.071517  0.725478  0.459326
17  0.975941  0.328496  0.177288  0.117249  0.213418
18  0.781093  0.495950  0.413331  0.076533  0.928598
19   0.21145  0.736013  0.597712  0.879933  0.299553
20   0.44623  0.513588  0.375828  0.624042  0.240987
21  0.311652  0.561601  0.322760  0.416222  0.866461
22  0.944032  0.422119  0.779036  0.814483  0.494676
23  0.743129  0.546383  0.719197  0.463007  0.093087
24  0.470625  0.508662  0.388017  0.655917  0.313429
25  0.284631  0.868846  0.815575  0.389771  0.899431
26  0.025947  0.207675  0.942685  0.018160  0.883281
27  0.487519  0.051620  0.736021  0.022851  0.768472
28  0.391606  0.022638  0.913124  0.675672  0.863364
29  0.755084  0.012832  0.253696  0.496321  0.924228
30  0.124893  0.577283  0.720963  0.037607  0.551044
31  0.438282  0.549266  0.683077  0.606785  0.392027
32  0.668607  0.759939  0.424514  0.725927  0.237899
33  0.088259  0.524868  0.452873  0.191608  0.772444
34  0.707079  0.526687  0.751959  0.294343  0.066839
35  0.472461  0.531020  0.146774  0.255906  0.204828
36  0.447307  0.172051  0.636425  0.798807  0.608346
37  0.996761  0.608085  0.214305  0.361749  0.804374
38   0.78931  0.019554  0.761156  0.174534  0.137886
39  0.884287  0.556331  0.104093  0.123401  0.360330
40  0.939423  0.983603  0.828585  0.467134  0.256354
41  0.601746  0.770326  0.036018  0.670387  0.641147
42  0.908193  0.759991  0.070906  0.457229  0.807094
43  0.358997  0.189311  0.625363  0.680197  0.685785
44  0.323391  0.934647  0.551644  0.565041  0.731831
45  0.934523  0.077235  0.025400  0.803901  0.022786
46  0.512808  0.961178  0.128469  0.251612  0.265777
47  0.450715  0.532608  0.421752  0.489388  0.532724
48  0.921445  0.576404  0.570222  0.458661  0.337823
49   0.28062  0.575135  0.427423  0.233904  0.637763

In [28]:
newdf[0][0]=0.3

In [29]:
newdf

           0         1         2         3         4
0        0.3  0.071505  0.269820  0.089495  0.079508
1   0.116828  0.467167  0.108266  0.682470  0.455040
2   0.057368  0.589525  0.850322  0.737719  0.963583
3   0.794483  0.859540  0.421362  0.375615  0.444670
4   0.232749  0.823588  0.982229  0.002032  0.332501
5   0.970108  0.267476  0.327169  0.862918  0.768812
6   0.102828  0.953421  0.360648  0.431597  0.030185
7   0.182527  0.051682  0.620288  0.853434  0.324586
8   0.232518  0.034265  0.326712  0.813759  0.010466
9    0.34069  0.910038  0.293726  0.109882  0.689943
10  0.091192  0.241515  0.235934  0.904396  0.155773
11  0.572926  0.409134  0.749495  0.630923  0.079969
12  0.191295  0.140298  0.913058  0.403997  0.425318
13  0.053545  0.743588  0.045677  0.746104  0.303892
14   0.16664  0.416513  0.639310  0.560431  0.028280
15  0.107258  0.495714  0.475065  0.080409  0.186404
16  0.225552  0.418660  0.071517  0.725478  0.459326
17  0.975941  0.328496  0.177288  0.117249  0.213418
18  0.781093  0.495950  0.413331  0.076533  0.928598
19   0.21145  0.736013  0.597712  0.879933  0.299553
20   0.44623  0.513588  0.375828  0.624042  0.240987
21  0.311652  0.561601  0.322760  0.416222  0.866461
22  0.944032  0.422119  0.779036  0.814483  0.494676
23  0.743129  0.546383  0.719197  0.463007  0.093087
24  0.470625  0.508662  0.388017  0.655917  0.313429
25  0.284631  0.868846  0.815575  0.389771  0.899431
26  0.025947  0.207675  0.942685  0.018160  0.883281
27  0.487519  0.051620  0.736021  0.022851  0.768472
28  0.391606  0.022638  0.913124  0.675672  0.863364
29  0.755084  0.012832  0.253696  0.496321  0.924228
30  0.124893  0.577283  0.720963  0.037607  0.551044
31  0.438282  0.549266  0.683077  0.606785  0.392027
32  0.668607  0.759939  0.424514  0.725927  0.237899
33  0.088259  0.524868  0.452873  0.191608  0.772444
34  0.707079  0.526687  0.751959  0.294343  0.066839
35  0.472461  0.531020  0.146774  0.255906  0.204828
36  0.447307  0.172051  0.636425  0.798807  0.608346
37  0.996761  0.608085  0.214305  0.361749  0.804374
38   0.78931  0.019554  0.761156  0.174534  0.137886
39  0.884287  0.556331  0.104093  0.123401  0.360330
40  0.939423  0.983603  0.828585  0.467134  0.256354
41  0.601746  0.770326  0.036018  0.670387  0.641147
42  0.908193  0.759991  0.070906  0.457229  0.807094
43  0.358997  0.189311  0.625363  0.680197  0.685785
44  0.323391  0.934647  0.551644  0.565041  0.731831
45  0.934523  0.077235  0.025400  0.803901  0.022786
46  0.512808  0.961178  0.128469  0.251612  0.265777
47  0.450715  0.532608  0.421752  0.489388  0.532724
48  0.921445  0.576404  0.570222  0.458661  0.337823
49   0.28062  0.575135  0.427423  0.233904  0.637763

In [30]:
#to transpose
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.3,0.116828,0.057368,0.794483,0.232749,0.970108,0.102828,0.182527,0.232518,0.34069,...,0.939423,0.601746,0.908193,0.358997,0.323391,0.934523,0.512808,0.450715,0.921445,0.28062
1,0.071505,0.467167,0.589525,0.85954,0.823588,0.267476,0.953421,0.051682,0.034265,0.910038,...,0.983603,0.770326,0.759991,0.189311,0.934647,0.077235,0.961178,0.532608,0.576404,0.575135
2,0.26982,0.108266,0.850322,0.421362,0.982229,0.327169,0.360648,0.620288,0.326712,0.293726,...,0.828585,0.036018,0.070906,0.625363,0.551644,0.0254,0.128469,0.421752,0.570222,0.427423
3,0.089495,0.68247,0.737719,0.375615,0.002032,0.862918,0.431597,0.853434,0.813759,0.109882,...,0.467134,0.670387,0.457229,0.680197,0.565041,0.803901,0.251612,0.489388,0.458661,0.233904
4,0.079508,0.45504,0.963583,0.44467,0.332501,0.768812,0.030185,0.324586,0.010466,0.689943,...,0.256354,0.641147,0.807094,0.685785,0.731831,0.022786,0.265777,0.532724,0.337823,0.637763

In [31]:
#to sort in row
newdf.sort_index(axis=0,ascending=False)

           0         1         2         3         4
49   0.28062  0.575135  0.427423  0.233904  0.637763
48  0.921445  0.576404  0.570222  0.458661  0.337823
47  0.450715  0.532608  0.421752  0.489388  0.532724
46  0.512808  0.961178  0.128469  0.251612  0.265777
45  0.934523  0.077235  0.025400  0.803901  0.022786
44  0.323391  0.934647  0.551644  0.565041  0.731831
43  0.358997  0.189311  0.625363  0.680197  0.685785
42  0.908193  0.759991  0.070906  0.457229  0.807094
41  0.601746  0.770326  0.036018  0.670387  0.641147
40  0.939423  0.983603  0.828585  0.467134  0.256354
39  0.884287  0.556331  0.104093  0.123401  0.360330
38   0.78931  0.019554  0.761156  0.174534  0.137886
37  0.996761  0.608085  0.214305  0.361749  0.804374
36  0.447307  0.172051  0.636425  0.798807  0.608346
35  0.472461  0.531020  0.146774  0.255906  0.204828
34  0.707079  0.526687  0.751959  0.294343  0.066839
33  0.088259  0.524868  0.452873  0.191608  0.772444
32  0.668607  0.759939  0.424514  0.725927  0.237899
31  0.438282  0.549266  0.683077  0.606785  0.392027
30  0.124893  0.577283  0.720963  0.037607  0.551044
29  0.755084  0.012832  0.253696  0.496321  0.924228
28  0.391606  0.022638  0.913124  0.675672  0.863364
27  0.487519  0.051620  0.736021  0.022851  0.768472
26  0.025947  0.207675  0.942685  0.018160  0.883281
25  0.284631  0.868846  0.815575  0.389771  0.899431
24  0.470625  0.508662  0.388017  0.655917  0.313429
23  0.743129  0.546383  0.719197  0.463007  0.093087
22  0.944032  0.422119  0.779036  0.814483  0.494676
21  0.311652  0.561601  0.322760  0.416222  0.866461
20   0.44623  0.513588  0.375828  0.624042  0.240987
19   0.21145  0.736013  0.597712  0.879933  0.299553
18  0.781093  0.495950  0.413331  0.076533  0.928598
17  0.975941  0.328496  0.177288  0.117249  0.213418
16  0.225552  0.418660  0.071517  0.725478  0.459326
15  0.107258  0.495714  0.475065  0.080409  0.186404
14   0.16664  0.416513  0.639310  0.560431  0.028280
13  0.053545  0.743588  0.045677  0.746104  0.303892
12  0.191295  0.140298  0.913058  0.403997  0.425318
11  0.572926  0.409134  0.749495  0.630923  0.079969
10  0.091192  0.241515  0.235934  0.904396  0.155773
9    0.34069  0.910038  0.293726  0.109882  0.689943
8   0.232518  0.034265  0.326712  0.813759  0.010466
7   0.182527  0.051682  0.620288  0.853434  0.324586
6   0.102828  0.953421  0.360648  0.431597  0.030185
5   0.970108  0.267476  0.327169  0.862918  0.768812
4   0.232749  0.823588  0.982229  0.002032  0.332501
3   0.794483  0.859540  0.421362  0.375615  0.444670
2   0.057368  0.589525  0.850322  0.737719  0.963583
1   0.116828  0.467167  0.108266  0.682470  0.455040
0        0.3  0.071505  0.269820  0.089495  0.079508

In [32]:
# to sort in column
newdf.sort_index(axis=1,ascending=False)

           4         3         2         1         0
0   0.079508  0.089495  0.269820  0.071505       0.3
1   0.455040  0.682470  0.108266  0.467167  0.116828
2   0.963583  0.737719  0.850322  0.589525  0.057368
3   0.444670  0.375615  0.421362  0.859540  0.794483
4   0.332501  0.002032  0.982229  0.823588  0.232749
5   0.768812  0.862918  0.327169  0.267476  0.970108
6   0.030185  0.431597  0.360648  0.953421  0.102828
7   0.324586  0.853434  0.620288  0.051682  0.182527
8   0.010466  0.813759  0.326712  0.034265  0.232518
9   0.689943  0.109882  0.293726  0.910038   0.34069
10  0.155773  0.904396  0.235934  0.241515  0.091192
11  0.079969  0.630923  0.749495  0.409134  0.572926
12  0.425318  0.403997  0.913058  0.140298  0.191295
13  0.303892  0.746104  0.045677  0.743588  0.053545
14  0.028280  0.560431  0.639310  0.416513   0.16664
15  0.186404  0.080409  0.475065  0.495714  0.107258
16  0.459326  0.725478  0.071517  0.418660  0.225552
17  0.213418  0.117249  0.177288  0.328496  0.975941
18  0.928598  0.076533  0.413331  0.495950  0.781093
19  0.299553  0.879933  0.597712  0.736013   0.21145
20  0.240987  0.624042  0.375828  0.513588   0.44623
21  0.866461  0.416222  0.322760  0.561601  0.311652
22  0.494676  0.814483  0.779036  0.422119  0.944032
23  0.093087  0.463007  0.719197  0.546383  0.743129
24  0.313429  0.655917  0.388017  0.508662  0.470625
25  0.899431  0.389771  0.815575  0.868846  0.284631
26  0.883281  0.018160  0.942685  0.207675  0.025947
27  0.768472  0.022851  0.736021  0.051620  0.487519
28  0.863364  0.675672  0.913124  0.022638  0.391606
29  0.924228  0.496321  0.253696  0.012832  0.755084
30  0.551044  0.037607  0.720963  0.577283  0.124893
31  0.392027  0.606785  0.683077  0.549266  0.438282
32  0.237899  0.725927  0.424514  0.759939  0.668607
33  0.772444  0.191608  0.452873  0.524868  0.088259
34  0.066839  0.294343  0.751959  0.526687  0.707079
35  0.204828  0.255906  0.146774  0.531020  0.472461
36  0.608346  0.798807  0.636425  0.172051  0.447307
37  0.804374  0.361749  0.214305  0.608085  0.996761
38  0.137886  0.174534  0.761156  0.019554   0.78931
39  0.360330  0.123401  0.104093  0.556331  0.884287
40  0.256354  0.467134  0.828585  0.983603  0.939423
41  0.641147  0.670387  0.036018  0.770326  0.601746
42  0.807094  0.457229  0.070906  0.759991  0.908193
43  0.685785  0.680197  0.625363  0.189311  0.358997
44  0.731831  0.565041  0.551644  0.934647  0.323391
45  0.022786  0.803901  0.025400  0.077235  0.934523
46  0.265777  0.251612  0.128469  0.961178  0.512808
47  0.532724  0.489388  0.421752  0.532608  0.450715
48  0.337823  0.458661  0.570222  0.576404  0.921445
49  0.637763  0.233904  0.427423  0.575135   0.28062

In [33]:
#to make a view of dataframe
newdf2=newdf

In [34]:
newdf2[0][0]=9876

In [35]:
newdf

           0         1         2         3         4
0       9876  0.071505  0.269820  0.089495  0.079508
1   0.116828  0.467167  0.108266  0.682470  0.455040
2   0.057368  0.589525  0.850322  0.737719  0.963583
3   0.794483  0.859540  0.421362  0.375615  0.444670
4   0.232749  0.823588  0.982229  0.002032  0.332501
5   0.970108  0.267476  0.327169  0.862918  0.768812
6   0.102828  0.953421  0.360648  0.431597  0.030185
7   0.182527  0.051682  0.620288  0.853434  0.324586
8   0.232518  0.034265  0.326712  0.813759  0.010466
9    0.34069  0.910038  0.293726  0.109882  0.689943
10  0.091192  0.241515  0.235934  0.904396  0.155773
11  0.572926  0.409134  0.749495  0.630923  0.079969
12  0.191295  0.140298  0.913058  0.403997  0.425318
13  0.053545  0.743588  0.045677  0.746104  0.303892
14   0.16664  0.416513  0.639310  0.560431  0.028280
15  0.107258  0.495714  0.475065  0.080409  0.186404
16  0.225552  0.418660  0.071517  0.725478  0.459326
17  0.975941  0.328496  0.177288  0.117249  0.213418
18  0.781093  0.495950  0.413331  0.076533  0.928598
19   0.21145  0.736013  0.597712  0.879933  0.299553
20   0.44623  0.513588  0.375828  0.624042  0.240987
21  0.311652  0.561601  0.322760  0.416222  0.866461
22  0.944032  0.422119  0.779036  0.814483  0.494676
23  0.743129  0.546383  0.719197  0.463007  0.093087
24  0.470625  0.508662  0.388017  0.655917  0.313429
25  0.284631  0.868846  0.815575  0.389771  0.899431
26  0.025947  0.207675  0.942685  0.018160  0.883281
27  0.487519  0.051620  0.736021  0.022851  0.768472
28  0.391606  0.022638  0.913124  0.675672  0.863364
29  0.755084  0.012832  0.253696  0.496321  0.924228
30  0.124893  0.577283  0.720963  0.037607  0.551044
31  0.438282  0.549266  0.683077  0.606785  0.392027
32  0.668607  0.759939  0.424514  0.725927  0.237899
33  0.088259  0.524868  0.452873  0.191608  0.772444
34  0.707079  0.526687  0.751959  0.294343  0.066839
35  0.472461  0.531020  0.146774  0.255906  0.204828
36  0.447307  0.172051  0.636425  0.798807  0.608346
37  0.996761  0.608085  0.214305  0.361749  0.804374
38   0.78931  0.019554  0.761156  0.174534  0.137886
39  0.884287  0.556331  0.104093  0.123401  0.360330
40  0.939423  0.983603  0.828585  0.467134  0.256354
41  0.601746  0.770326  0.036018  0.670387  0.641147
42  0.908193  0.759991  0.070906  0.457229  0.807094
43  0.358997  0.189311  0.625363  0.680197  0.685785
44  0.323391  0.934647  0.551644  0.565041  0.731831
45  0.934523  0.077235  0.025400  0.803901  0.022786
46  0.512808  0.961178  0.128469  0.251612  0.265777
47  0.450715  0.532608  0.421752  0.489388  0.532724
48  0.921445  0.576404  0.570222  0.458661  0.337823
49   0.28062  0.575135  0.427423  0.233904  0.637763

In [36]:
# to copy without changing newdf
newdf2=newdf.copy()

In [37]:
newdf2[0][0]=9090

C:\Users\nav7u\AppData\Local\Temp\ipykernel_428\3416823633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf2[0][0]=9090

In [38]:
newdf.columns=list("ABCDE")   #to change name of column index

In [39]:
newdf

           A         B         C         D         E
0       9876  0.071505  0.269820  0.089495  0.079508
1   0.116828  0.467167  0.108266  0.682470  0.455040
2   0.057368  0.589525  0.850322  0.737719  0.963583
3   0.794483  0.859540  0.421362  0.375615  0.444670
4   0.232749  0.823588  0.982229  0.002032  0.332501
5   0.970108  0.267476  0.327169  0.862918  0.768812
6   0.102828  0.953421  0.360648  0.431597  0.030185
7   0.182527  0.051682  0.620288  0.853434  0.324586
8   0.232518  0.034265  0.326712  0.813759  0.010466
9    0.34069  0.910038  0.293726  0.109882  0.689943
10  0.091192  0.241515  0.235934  0.904396  0.155773
11  0.572926  0.409134  0.749495  0.630923  0.079969
12  0.191295  0.140298  0.913058  0.403997  0.425318
13  0.053545  0.743588  0.045677  0.746104  0.303892
14   0.16664  0.416513  0.639310  0.560431  0.028280
15  0.107258  0.495714  0.475065  0.080409  0.186404
16  0.225552  0.418660  0.071517  0.725478  0.459326
17  0.975941  0.328496  0.177288  0.117249  0.213418
18  0.781093  0.495950  0.413331  0.076533  0.928598
19   0.21145  0.736013  0.597712  0.879933  0.299553
20   0.44623  0.513588  0.375828  0.624042  0.240987
21  0.311652  0.561601  0.322760  0.416222  0.866461
22  0.944032  0.422119  0.779036  0.814483  0.494676
23  0.743129  0.546383  0.719197  0.463007  0.093087
24  0.470625  0.508662  0.388017  0.655917  0.313429
25  0.284631  0.868846  0.815575  0.389771  0.899431
26  0.025947  0.207675  0.942685  0.018160  0.883281
27  0.487519  0.051620  0.736021  0.022851  0.768472
28  0.391606  0.022638  0.913124  0.675672  0.863364
29  0.755084  0.012832  0.253696  0.496321  0.924228
30  0.124893  0.577283  0.720963  0.037607  0.551044
31  0.438282  0.549266  0.683077  0.606785  0.392027
32  0.668607  0.759939  0.424514  0.725927  0.237899
33  0.088259  0.524868  0.452873  0.191608  0.772444
34  0.707079  0.526687  0.751959  0.294343  0.066839
35  0.472461  0.531020  0.146774  0.255906  0.204828
36  0.447307  0.172051  0.636425  0.798807  0.608346
37  0.996761  0.608085  0.214305  0.361749  0.804374
38   0.78931  0.019554  0.761156  0.174534  0.137886
39  0.884287  0.556331  0.104093  0.123401  0.360330
40  0.939423  0.983603  0.828585  0.467134  0.256354
41  0.601746  0.770326  0.036018  0.670387  0.641147
42  0.908193  0.759991  0.070906  0.457229  0.807094
43  0.358997  0.189311  0.625363  0.680197  0.685785
44  0.323391  0.934647  0.551644  0.565041  0.731831
45  0.934523  0.077235  0.025400  0.803901  0.022786
46  0.512808  0.961178  0.128469  0.251612  0.265777
47  0.450715  0.532608  0.421752  0.489388  0.532724
48  0.921445  0.576404  0.570222  0.458661  0.337823
49   0.28062  0.575135  0.427423  0.233904  0.637763

In [40]:
#updating by using location(index) of rows and column first value is of row second is of column
newdf.loc[0,'A']=8976

In [41]:
newdf

           A         B         C         D         E
0       8976  0.071505  0.269820  0.089495  0.079508
1   0.116828  0.467167  0.108266  0.682470  0.455040
2   0.057368  0.589525  0.850322  0.737719  0.963583
3   0.794483  0.859540  0.421362  0.375615  0.444670
4   0.232749  0.823588  0.982229  0.002032  0.332501
5   0.970108  0.267476  0.327169  0.862918  0.768812
6   0.102828  0.953421  0.360648  0.431597  0.030185
7   0.182527  0.051682  0.620288  0.853434  0.324586
8   0.232518  0.034265  0.326712  0.813759  0.010466
9    0.34069  0.910038  0.293726  0.109882  0.689943
10  0.091192  0.241515  0.235934  0.904396  0.155773
11  0.572926  0.409134  0.749495  0.630923  0.079969
12  0.191295  0.140298  0.913058  0.403997  0.425318
13  0.053545  0.743588  0.045677  0.746104  0.303892
14   0.16664  0.416513  0.639310  0.560431  0.028280
15  0.107258  0.495714  0.475065  0.080409  0.186404
16  0.225552  0.418660  0.071517  0.725478  0.459326
17  0.975941  0.328496  0.177288  0.117249  0.213418
18  0.781093  0.495950  0.413331  0.076533  0.928598
19   0.21145  0.736013  0.597712  0.879933  0.299553
20   0.44623  0.513588  0.375828  0.624042  0.240987
21  0.311652  0.561601  0.322760  0.416222  0.866461
22  0.944032  0.422119  0.779036  0.814483  0.494676
23  0.743129  0.546383  0.719197  0.463007  0.093087
24  0.470625  0.508662  0.388017  0.655917  0.313429
25  0.284631  0.868846  0.815575  0.389771  0.899431
26  0.025947  0.207675  0.942685  0.018160  0.883281
27  0.487519  0.051620  0.736021  0.022851  0.768472
28  0.391606  0.022638  0.913124  0.675672  0.863364
29  0.755084  0.012832  0.253696  0.496321  0.924228
30  0.124893  0.577283  0.720963  0.037607  0.551044
31  0.438282  0.549266  0.683077  0.606785  0.392027
32  0.668607  0.759939  0.424514  0.725927  0.237899
33  0.088259  0.524868  0.452873  0.191608  0.772444
34  0.707079  0.526687  0.751959  0.294343  0.066839
35  0.472461  0.531020  0.146774  0.255906  0.204828
36  0.447307  0.172051  0.636425  0.798807  0.608346
37  0.996761  0.608085  0.214305  0.361749  0.804374
38   0.78931  0.019554  0.761156  0.174534  0.137886
39  0.884287  0.556331  0.104093  0.123401  0.360330
40  0.939423  0.983603  0.828585  0.467134  0.256354
41  0.601746  0.770326  0.036018  0.670387  0.641147
42  0.908193  0.759991  0.070906  0.457229  0.807094
43  0.358997  0.189311  0.625363  0.680197  0.685785
44  0.323391  0.934647  0.551644  0.565041  0.731831
45  0.934523  0.077235  0.025400  0.803901  0.022786
46  0.512808  0.961178  0.128469  0.251612  0.265777
47  0.450715  0.532608  0.421752  0.489388  0.532724
48  0.921445  0.576404  0.570222  0.458661  0.337823
49   0.28062  0.575135  0.427423  0.233904  0.637763

In [42]:
newdf.drop(0,axis=1)  #to drop a column axis=1 is column axis=0 is row

KeyError: '[0] not found in axis'

In [43]:
newdf.drop(49,axis=0)

           A         B         C         D         E
0       8976  0.071505  0.269820  0.089495  0.079508
1   0.116828  0.467167  0.108266  0.682470  0.455040
2   0.057368  0.589525  0.850322  0.737719  0.963583
3   0.794483  0.859540  0.421362  0.375615  0.444670
4   0.232749  0.823588  0.982229  0.002032  0.332501
5   0.970108  0.267476  0.327169  0.862918  0.768812
6   0.102828  0.953421  0.360648  0.431597  0.030185
7   0.182527  0.051682  0.620288  0.853434  0.324586
8   0.232518  0.034265  0.326712  0.813759  0.010466
9    0.34069  0.910038  0.293726  0.109882  0.689943
10  0.091192  0.241515  0.235934  0.904396  0.155773
11  0.572926  0.409134  0.749495  0.630923  0.079969
12  0.191295  0.140298  0.913058  0.403997  0.425318
13  0.053545  0.743588  0.045677  0.746104  0.303892
14   0.16664  0.416513  0.639310  0.560431  0.028280
15  0.107258  0.495714  0.475065  0.080409  0.186404
16  0.225552  0.418660  0.071517  0.725478  0.459326
17  0.975941  0.328496  0.177288  0.117249  0.213418
18  0.781093  0.495950  0.413331  0.076533  0.928598
19   0.21145  0.736013  0.597712  0.879933  0.299553
20   0.44623  0.513588  0.375828  0.624042  0.240987
21  0.311652  0.561601  0.322760  0.416222  0.866461
22  0.944032  0.422119  0.779036  0.814483  0.494676
23  0.743129  0.546383  0.719197  0.463007  0.093087
24  0.470625  0.508662  0.388017  0.655917  0.313429
25  0.284631  0.868846  0.815575  0.389771  0.899431
26  0.025947  0.207675  0.942685  0.018160  0.883281
27  0.487519  0.051620  0.736021  0.022851  0.768472
28  0.391606  0.022638  0.913124  0.675672  0.863364
29  0.755084  0.012832  0.253696  0.496321  0.924228
30  0.124893  0.577283  0.720963  0.037607  0.551044
31  0.438282  0.549266  0.683077  0.606785  0.392027
32  0.668607  0.759939  0.424514  0.725927  0.237899
33  0.088259  0.524868  0.452873  0.191608  0.772444
34  0.707079  0.526687  0.751959  0.294343  0.066839
35  0.472461  0.531020  0.146774  0.255906  0.204828
36  0.447307  0.172051  0.636425  0.798807  0.608346
37  0.996761  0.608085  0.214305  0.361749  0.804374
38   0.78931  0.019554  0.761156  0.174534  0.137886
39  0.884287  0.556331  0.104093  0.123401  0.360330
40  0.939423  0.983603  0.828585  0.467134  0.256354
41  0.601746  0.770326  0.036018  0.670387  0.641147
42  0.908193  0.759991  0.070906  0.457229  0.807094
43  0.358997  0.189311  0.625363  0.680197  0.685785
44  0.323391  0.934647  0.551644  0.565041  0.731831
45  0.934523  0.077235  0.025400  0.803901  0.022786
46  0.512808  0.961178  0.128469  0.251612  0.265777
47  0.450715  0.532608  0.421752  0.489388  0.532724
48  0.921445  0.576404  0.570222  0.458661  0.337823

In [44]:
newdf.loc[[1,2],:]   # to see row with all column

          A         B         C         D         E
1  0.116828  0.467167  0.108266  0.682470  0.455040
2  0.057368  0.589525  0.850322  0.737719  0.963583

In [45]:
newdf.loc[:,['C','D']]   # to see column with al row

           C         D
0   0.269820  0.089495
1   0.108266  0.682470
2   0.850322  0.737719
3   0.421362  0.375615
4   0.982229  0.002032
5   0.327169  0.862918
6   0.360648  0.431597
7   0.620288  0.853434
8   0.326712  0.813759
9   0.293726  0.109882
10  0.235934  0.904396
11  0.749495  0.630923
12  0.913058  0.403997
13  0.045677  0.746104
14  0.639310  0.560431
15  0.475065  0.080409
16  0.071517  0.725478
17  0.177288  0.117249
18  0.413331  0.076533
19  0.597712  0.879933
20  0.375828  0.624042
21  0.322760  0.416222
22  0.779036  0.814483
23  0.719197  0.463007
24  0.388017  0.655917
25  0.815575  0.389771
26  0.942685  0.018160
27  0.736021  0.022851
28  0.913124  0.675672
29  0.253696  0.496321
30  0.720963  0.037607
31  0.683077  0.606785
32  0.424514  0.725927
33  0.452873  0.191608
34  0.751959  0.294343
35  0.146774  0.255906
36  0.636425  0.798807
37  0.214305  0.361749
38  0.761156  0.174534
39  0.104093  0.123401
40  0.828585  0.467134
41  0.036018  0.670387
42  0.070906  0.457229
43  0.625363  0.680197
44  0.551644  0.565041
45  0.025400  0.803901
46  0.128469  0.251612
47  0.421752  0.489388
48  0.570222  0.458661
49  0.427423  0.233904

In [46]:
newdf.loc[(newdf['A']<0.3)]  #rows having value less than 0.3

           A         B         C         D         E
1   0.116828  0.467167  0.108266  0.682470  0.455040
2   0.057368  0.589525  0.850322  0.737719  0.963583
4   0.232749  0.823588  0.982229  0.002032  0.332501
6   0.102828  0.953421  0.360648  0.431597  0.030185
7   0.182527  0.051682  0.620288  0.853434  0.324586
8   0.232518  0.034265  0.326712  0.813759  0.010466
10  0.091192  0.241515  0.235934  0.904396  0.155773
12  0.191295  0.140298  0.913058  0.403997  0.425318
13  0.053545  0.743588  0.045677  0.746104  0.303892
14   0.16664  0.416513  0.639310  0.560431  0.028280
15  0.107258  0.495714  0.475065  0.080409  0.186404
16  0.225552  0.418660  0.071517  0.725478  0.459326
19   0.21145  0.736013  0.597712  0.879933  0.299553
25  0.284631  0.868846  0.815575  0.389771  0.899431
26  0.025947  0.207675  0.942685  0.018160  0.883281
30  0.124893  0.577283  0.720963  0.037607  0.551044
33  0.088259  0.524868  0.452873  0.191608  0.772444
49   0.28062  0.575135  0.427423  0.233904  0.637763

In [47]:
newdf.loc[(newdf['A']<0.3) & (newdf['C']>0.1)]  #rows having value less than 0.3

           A         B         C         D         E
1   0.116828  0.467167  0.108266  0.682470  0.455040
2   0.057368  0.589525  0.850322  0.737719  0.963583
4   0.232749  0.823588  0.982229  0.002032  0.332501
6   0.102828  0.953421  0.360648  0.431597  0.030185
7   0.182527  0.051682  0.620288  0.853434  0.324586
8   0.232518  0.034265  0.326712  0.813759  0.010466
10  0.091192  0.241515  0.235934  0.904396  0.155773
12  0.191295  0.140298  0.913058  0.403997  0.425318
14   0.16664  0.416513  0.639310  0.560431  0.028280
15  0.107258  0.495714  0.475065  0.080409  0.186404
19   0.21145  0.736013  0.597712  0.879933  0.299553
25  0.284631  0.868846  0.815575  0.389771  0.899431
26  0.025947  0.207675  0.942685  0.018160  0.883281
30  0.124893  0.577283  0.720963  0.037607  0.551044
33  0.088259  0.524868  0.452873  0.191608  0.772444
49   0.28062  0.575135  0.427423  0.233904  0.637763

In [48]:
#iloc will be use by default index for row and column no matter what is the name of row and column
newdf.iloc[0,0]

8976

In [49]:
newdf.head(2)

          A         B         C         D         E
0      8976  0.071505  0.269820  0.089495  0.079508
1  0.116828  0.467167  0.108266  0.682470  0.455040

In [50]:
newdf.iloc[[0,5],[0,1]]  # it will select particular row and column

          A         B
0      8976  0.071505
5  0.970108  0.267476

In [51]:
newdf.iloc[[0,1],[0,1]]

          A         B
0      8976  0.071505
1  0.116828  0.467167

In [52]:
newdf.drop(['A','D'],axis=1,inplace=True)  # inplace will modify original data there itself

In [53]:
newdf.drop(0,axis=1,inplace=True)

KeyError: '[0] not found in axis'

In [54]:
newdf.drop([0,5],axis=0,inplace=True)

In [55]:
newdf

           B         C         E
1   0.467167  0.108266  0.455040
2   0.589525  0.850322  0.963583
3   0.859540  0.421362  0.444670
4   0.823588  0.982229  0.332501
6   0.953421  0.360648  0.030185
7   0.051682  0.620288  0.324586
8   0.034265  0.326712  0.010466
9   0.910038  0.293726  0.689943
10  0.241515  0.235934  0.155773
11  0.409134  0.749495  0.079969
12  0.140298  0.913058  0.425318
13  0.743588  0.045677  0.303892
14  0.416513  0.639310  0.028280
15  0.495714  0.475065  0.186404
16  0.418660  0.071517  0.459326
17  0.328496  0.177288  0.213418
18  0.495950  0.413331  0.928598
19  0.736013  0.597712  0.299553
20  0.513588  0.375828  0.240987
21  0.561601  0.322760  0.866461
22  0.422119  0.779036  0.494676
23  0.546383  0.719197  0.093087
24  0.508662  0.388017  0.313429
25  0.868846  0.815575  0.899431
26  0.207675  0.942685  0.883281
27  0.051620  0.736021  0.768472
28  0.022638  0.913124  0.863364
29  0.012832  0.253696  0.924228
30  0.577283  0.720963  0.551044
31  0.549266  0.683077  0.392027
32  0.759939  0.424514  0.237899
33  0.524868  0.452873  0.772444
34  0.526687  0.751959  0.066839
35  0.531020  0.146774  0.204828
36  0.172051  0.636425  0.608346
37  0.608085  0.214305  0.804374
38  0.019554  0.761156  0.137886
39  0.556331  0.104093  0.360330
40  0.983603  0.828585  0.256354
41  0.770326  0.036018  0.641147
42  0.759991  0.070906  0.807094
43  0.189311  0.625363  0.685785
44  0.934647  0.551644  0.731831
45  0.077235  0.025400  0.022786
46  0.961178  0.128469  0.265777
47  0.532608  0.421752  0.532724
48  0.576404  0.570222  0.337823
49  0.575135  0.427423  0.637763

In [56]:
newdf.reset_index(drop=True,inplace=True)  #to reset index

In [57]:
newdf.head(4)

          B         C         E
0  0.467167  0.108266  0.455040
1  0.589525  0.850322  0.963583
2  0.859540  0.421362  0.444670
3  0.823588  0.982229  0.332501

In [58]:
newdf.iloc[:3,1:]

          C         E
0  0.108266  0.455040
1  0.850322  0.963583
2  0.421362  0.444670

In [59]:
newdf.iloc[4:7,2:3]

          E
4  0.030185
5  0.324586
6  0.010466

In [60]:
newdf['B']=56

In [61]:
newdf["B"].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
Name: B, dtype: bool

In [62]:
newdf

     B         C         E
0   56  0.108266  0.455040
1   56  0.850322  0.963583
2   56  0.421362  0.444670
3   56  0.982229  0.332501
4   56  0.360648  0.030185
5   56  0.620288  0.324586
6   56  0.326712  0.010466
7   56  0.293726  0.689943
8   56  0.235934  0.155773
9   56  0.749495  0.079969
10  56  0.913058  0.425318
11  56  0.045677  0.303892
12  56  0.639310  0.028280
13  56  0.475065  0.186404
14  56  0.071517  0.459326
15  56  0.177288  0.213418
16  56  0.413331  0.928598
17  56  0.597712  0.299553
18  56  0.375828  0.240987
19  56  0.322760  0.866461
20  56  0.779036  0.494676
21  56  0.719197  0.093087
22  56  0.388017  0.313429
23  56  0.815575  0.899431
24  56  0.942685  0.883281
25  56  0.736021  0.768472
26  56  0.913124  0.863364
27  56  0.253696  0.924228
28  56  0.720963  0.551044
29  56  0.683077  0.392027
30  56  0.424514  0.237899
31  56  0.452873  0.772444
32  56  0.751959  0.066839
33  56  0.146774  0.204828
34  56  0.636425  0.608346
35  56  0.214305  0.804374
36  56  0.761156  0.137886
37  56  0.104093  0.360330
38  56  0.828585  0.256354
39  56  0.036018  0.641147
40  56  0.070906  0.807094
41  56  0.625363  0.685785
42  56  0.551644  0.731831
43  56  0.025400  0.022786
44  56  0.128469  0.265777
45  56  0.421752  0.532724
46  56  0.570222  0.337823
47  56  0.427423  0.637763

In [63]:
newdf.shape

(48, 3)

In [64]:
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   B       48 non-null     int64
 1   C       48 non-null     float64
 2   E       48 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.2 KB

In [65]:
df1 = pd.DataFrame({"name": ['Alfred', 'Batman', 'Alfred'],
                   "toy": [np.nan, np.nan, np.nan],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

In [66]:
df1

     name  toy       born
0  Alfred  NaN        NaT
1  Batman  NaN 1940-04-25
2  Alfred  NaN        NaT

In [67]:
df1.dropna() # by default it drop rows having any NA value

Empty DataFrame
Columns: [name, toy, born]
Index: []

In [68]:
# drops column with all none value
df1.dropna(how='all',axis=1)

     name       born
0  Alfred        NaT
1  Batman 1940-04-25
2  Alfred        NaT

In [69]:
df1.drop_duplicates(subset=['name'],keep='first')

     name  toy       born
0  Alfred  NaN        NaT
1  Batman  NaN 1940-04-25

In [70]:
df1.drop_duplicates(subset=['name'],keep='last')

     name  toy       born
1  Batman  NaN 1940-04-25
2  Alfred  NaN        NaT

In [71]:
df1.drop_duplicates(subset=['name'],keep=False)

     name  toy       born
1  Batman  NaN 1940-04-25

In [72]:
df1['name'].value_counts(dropna=False)

Alfred    2
Batman    1
Name: name, dtype: int64

In [83]:
df3=pd.read_excel('Book1.xlsx')

In [84]:
df3

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,2022-07-04,"$19,297.31","$20,258.75","$19,063.07","$20,231.26","$21,594,638,208","$386,119,553,712"
1,2022-07-03,"$19,242.09","$19,558.27","$18,966.95","$19,297.08","$16,390,821,947","$368,272,636,368"
2,2022-07-02,"$19,274.84","$19,371.75","$19,027.08","$19,242.26","$18,100,418,740","$367,208,487,557"
3,2022-07-01,"$19,820.47","$20,632.67","$19,073.71","$19,269.37","$30,767,551,159","$367,709,366,219"
4,2022-06-30,"$20,108.31","$20,141.16","$18,729.66","$19,784.73","$26,267,239,923","$377,526,215,552"
5,2022-06-29,"$20,281.17","$20,364.16","$19,937.79","$20,104.02","$23,552,740,328","$383,598,071,095"
6,2022-06-28,"$20,731.54","$21,164.42","$20,228.81","$20,280.64","$21,381,535,161","$386,949,194,398"
7,2022-06-27,"$21,028.24","$21,478.09","$20,620.20","$20,735.48","$20,965,695,707","$395,606,854,741"
8,2022-06-26,"$21,496.49","$21,783.72","$21,016.27","$21,027.30","$18,027,170,497","$401,157,940,864"
9,2022-06-25,"$21,233.61","$21,520.91","$20,964.59","$21,502.34","$18,372,538,715","$410,202,265,385"
10,2022-06-24,"$21,084.65","$21,472.92","$20,777.51","$21,231.66","$24,957,784,918","$405,018,505,024"
11,2022-06-23,"$19,986.61","$21,135.76","$19,950.12","$21,085.88","$26,188,097,173","$402,219,959,761"
12,2022-06-22,"$20,719.41","$20,835.75","$19,848.08","$19,987.03","$28,574,793,478","$381,240,087,224"
13,2022-06-21,"$20,594.29","$21,620.63","$20,415.06","$20,710.60","$28,970,212,744","$395,025,644,880"
14,2022-06-20,"$20,553.37","$20,913.32","$19,689.17","$20,599.54","$30,818,458,597","$392,888,024,959"
15,2022-06-19,"$19,010.90","$20,683.82","$18,067.15","$20,553.27","$35,329,942,625","$391,988,917,194"
16,2022-06-18,"$20,473.42","$20,736.04","$17,708.62","$19,017.64","$42,009,436,760","$362,685,324,229"
17,2022-06-17,"$20,385.72","$21,243.31","$20,326.52","$20,471.48","$27,132,421,514","$390,391,528,176"
18,2022-06-16,"$22,576.31","$22,868.92","$20,265.23","$20,381.65","$31,183,975,654","$388,664,840,557"
19,2022-06-15,"$22,196.73","$22,642.67","$20,178.38","$22,572.84","$54,912,007,015","$430,432,160,006"
20,2022-06-14,"$22,487.99","$23,018.95","$20,950.82","$22,206.79","$50,913,575,242","$423,429,131,864"
21,2022-06-13,"$26,737.58","$26,795.59","$22,141.26","$22,487.39","$68,204,556,440","$428,759,852,105"
22,2022-06-12,"$28,373.51","$28,502.69","$26,762.65","$26,762.65","$34,163,220,274","$510,252,464,821"
23,2022-06-11,"$29,084.67","$29,401.92","$28,236.21","$28,360.81","$27,246,574,439","$540,698,499,860"
24,2022-06-10,"$30,110.33","$30,245.81","$28,978.15","$29,083.80","$29,867,476,527","$554,455,834,486"
25,2022-06-09,"$30,215.28","$30,609.31","$30,020.26","$30,112.00","$21,692,004,719","$574,029,141,739"
26,2022-06-08,"$31,151.48","$31,253.69","$29,944.40","$30,214.36","$30,242,059,107","$575,953,219,488"
27,2022-06-07,"$31,371.74","$31,489.68","$29,311.68","$31,155.48","$40,770,974,039","$593,857,882,017"
28,2022-06-06,"$29,910.28","$31,693.29","$29,894.19","$31,370.67","$31,947,336,829","$597,927,548,347"
29,2022-06-05,"$29,835.12","$30,117.74","$29,574.45","$29,906.66","$17,264,085,441","$569,996,838,237"
30,2022-06-04,"$29,706.14","$29,930.56","$29,500.01","$29,832.91","$16,588,370,958","$568,564,420,350"
31,2022-06-03,"$30,467.81","$30,633.03","$29,375.69","$29,704.39","$26,175,547,452","$566,088,081,691"
32,2022-06-02,"$29,794.89","$30,604.73","$29,652.70","$30,467.49","$29,083,562,061","$580,603,466,872"
33,2022-06-01,"$31,792.55","$31,957.28","$29,501.59","$29,799.08","$41,135,817,341","$567,842,680,886"

In [85]:
pd.read_excel('Book1.xlsx',sheet_name='Sheet2')

,Date2,Open2,High2,Low2,Close2,Volume2,Market Cap2
0,2022-07-04,"$19,297.31","$20,258.75","$19,063.07","$20,231.26","$21,594,638,208","$386,119,553,712"
1,2022-07-03,"$19,242.09","$19,558.27","$18,966.95","$19,297.08","$16,390,821,947","$368,272,636,368"
2,2022-07-02,"$19,274.84","$19,371.75","$19,027.08","$19,242.26","$18,100,418,740","$367,208,487,557"
3,2022-07-01,"$19,820.47","$20,632.67","$19,073.71","$19,269.37","$30,767,551,159","$367,709,366,219"