In [43]:
import pandas as pd
import numpy as np

In [75]:
df=pd.read_excel('records.xlsx')

In [76]:
df

                      Player   Mat  Inns  NO   Runs    HS    Ave  100  50   0
0       SR Tendulkar (INDIA)   200   329  33  15921  248*  53.78   51  68  14
1           RT Ponting (AUS)   168   287  29  13378   257  51.85   41  62  17
2         JH Kallis (ICC/SA)   166   280  40  13289   224  55.37   45  58  16
3       R Dravid (ICC/INDIA)   164   286  32  13288   270  52.31   36  63   8
4              AN Cook (ENG)   161   291  16  12472   294  45.35   33  57   9
5         KC Sangakkara (SL)   134   233  17  12400   319  57.40   38  52  11
6           BC Lara (ICC/WI)   131   232   6  11953  400*  52.88   34  48  17
7         S Chanderpaul (WI)   164   280  49  11867  203*  51.37   30  66  15
8      DPMD Jayawardene (SL)   149   252  15  11814   374  49.84   34  50  15
9            AR Border (AUS)   156   265  44  11174   205  50.56   27  63  11
10            SR Waugh (AUS)   168   260  46  10927   200  51.06   32  50  22
11             JE Root (ENG)  121*   224  18  10392   254  50.44   27  55  11
12       SM Gavaskar (INDIA)   125   214  16  10122  236*  51.12   34  45  12
13         Younis Khan (PAK)   118   213  19  10099   313  52.05   34  33  19
14              HM Amla (SA)   124   215  16   9282  311*  46.64   28  41  13
15         GC Smith (ICC/SA)   117   205  13   9265   277  48.25   27  38  11
16            GA Gooch (ENG)   118   215   6   8900   333  42.58   20  46  13
17       Javed Miandad (PAK)   124   189  21   8832  280*  52.57   23  43   6
18  Inzamam-ul-Haq (ICC/PAK)   120   200  22   8830   329  49.60   25  46  15
19        VVS Laxman (INDIA)   134   225  34   8781   281  45.97   17  56  14

In [77]:
df[df['Ave']<=50]

                      Player  Mat  Inns  NO   Runs    HS    Ave  100  50   0
4              AN Cook (ENG)  161   291  16  12472   294  45.35   33  57   9
8      DPMD Jayawardene (SL)  149   252  15  11814   374  49.84   34  50  15
14              HM Amla (SA)  124   215  16   9282  311*  46.64   28  41  13
15         GC Smith (ICC/SA)  117   205  13   9265   277  48.25   27  38  11
16            GA Gooch (ENG)  118   215   6   8900   333  42.58   20  46  13
18  Inzamam-ul-Haq (ICC/PAK)  120   200  22   8830   329  49.60   25  46  15
19        VVS Laxman (INDIA)  134   225  34   8781   281  45.97   17  56  14

In [78]:
df

                      Player   Mat  Inns  NO   Runs    HS    Ave  100  50   0
0       SR Tendulkar (INDIA)   200   329  33  15921  248*  53.78   51  68  14
1           RT Ponting (AUS)   168   287  29  13378   257  51.85   41  62  17
2         JH Kallis (ICC/SA)   166   280  40  13289   224  55.37   45  58  16
3       R Dravid (ICC/INDIA)   164   286  32  13288   270  52.31   36  63   8
4              AN Cook (ENG)   161   291  16  12472   294  45.35   33  57   9
5         KC Sangakkara (SL)   134   233  17  12400   319  57.40   38  52  11
6           BC Lara (ICC/WI)   131   232   6  11953  400*  52.88   34  48  17
7         S Chanderpaul (WI)   164   280  49  11867  203*  51.37   30  66  15
8      DPMD Jayawardene (SL)   149   252  15  11814   374  49.84   34  50  15
9            AR Border (AUS)   156   265  44  11174   205  50.56   27  63  11
10            SR Waugh (AUS)   168   260  46  10927   200  51.06   32  50  22
11             JE Root (ENG)  121*   224  18  10392   254  50.44   27  55  11
12       SM Gavaskar (INDIA)   125   214  16  10122  236*  51.12   34  45  12
13         Younis Khan (PAK)   118   213  19  10099   313  52.05   34  33  19
14              HM Amla (SA)   124   215  16   9282  311*  46.64   28  41  13
15         GC Smith (ICC/SA)   117   205  13   9265   277  48.25   27  38  11
16            GA Gooch (ENG)   118   215   6   8900   333  42.58   20  46  13
17       Javed Miandad (PAK)   124   189  21   8832  280*  52.57   23  43   6
18  Inzamam-ul-Haq (ICC/PAK)   120   200  22   8830   329  49.60   25  46  15
19        VVS Laxman (INDIA)   134   225  34   8781   281  45.97   17  56  14

In [79]:
df.iloc[[6],:]

             Player  Mat  Inns  NO   Runs    HS    Ave  100  50   0
6  BC Lara (ICC/WI)  131   232   6  11953  400*  52.88   34  48  17

In [80]:
df.loc[[1,2],['Player',100]]

               Player  100
1    RT Ponting (AUS)   41
2  JH Kallis (ICC/SA)   45

In [81]:
df1=df.copy()

In [82]:
df1

                      Player   Mat  Inns  NO   Runs    HS    Ave  100  50   0
0       SR Tendulkar (INDIA)   200   329  33  15921  248*  53.78   51  68  14
1           RT Ponting (AUS)   168   287  29  13378   257  51.85   41  62  17
2         JH Kallis (ICC/SA)   166   280  40  13289   224  55.37   45  58  16
3       R Dravid (ICC/INDIA)   164   286  32  13288   270  52.31   36  63   8
4              AN Cook (ENG)   161   291  16  12472   294  45.35   33  57   9
5         KC Sangakkara (SL)   134   233  17  12400   319  57.40   38  52  11
6           BC Lara (ICC/WI)   131   232   6  11953  400*  52.88   34  48  17
7         S Chanderpaul (WI)   164   280  49  11867  203*  51.37   30  66  15
8      DPMD Jayawardene (SL)   149   252  15  11814   374  49.84   34  50  15
9            AR Border (AUS)   156   265  44  11174   205  50.56   27  63  11
10            SR Waugh (AUS)   168   260  46  10927   200  51.06   32  50  22
11             JE Root (ENG)  121*   224  18  10392   254  50.44   27  55  11
12       SM Gavaskar (INDIA)   125   214  16  10122  236*  51.12   34  45  12
13         Younis Khan (PAK)   118   213  19  10099   313  52.05   34  33  19
14              HM Amla (SA)   124   215  16   9282  311*  46.64   28  41  13
15         GC Smith (ICC/SA)   117   205  13   9265   277  48.25   27  38  11
16            GA Gooch (ENG)   118   215   6   8900   333  42.58   20  46  13
17       Javed Miandad (PAK)   124   189  21   8832  280*  52.57   23  43   6
18  Inzamam-ul-Haq (ICC/PAK)   120   200  22   8830   329  49.60   25  46  15
19        VVS Laxman (INDIA)   134   225  34   8781   281  45.97   17  56  14

In [83]:
df1['Player'][0]='SR Tendulkar'

C:\Users\nav7u\AppData\Local\Temp\ipykernel_23956\820435035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Player'][0]='SR Tendulkar'

In [84]:
df1

                      Player   Mat  Inns  NO   Runs    HS    Ave  100  50   0
0               SR Tendulkar   200   329  33  15921  248*  53.78   51  68  14
1           RT Ponting (AUS)   168   287  29  13378   257  51.85   41  62  17
2         JH Kallis (ICC/SA)   166   280  40  13289   224  55.37   45  58  16
3       R Dravid (ICC/INDIA)   164   286  32  13288   270  52.31   36  63   8
4              AN Cook (ENG)   161   291  16  12472   294  45.35   33  57   9
5         KC Sangakkara (SL)   134   233  17  12400   319  57.40   38  52  11
6           BC Lara (ICC/WI)   131   232   6  11953  400*  52.88   34  48  17
7         S Chanderpaul (WI)   164   280  49  11867  203*  51.37   30  66  15
8      DPMD Jayawardene (SL)   149   252  15  11814   374  49.84   34  50  15
9            AR Border (AUS)   156   265  44  11174   205  50.56   27  63  11
10            SR Waugh (AUS)   168   260  46  10927   200  51.06   32  50  22
11             JE Root (ENG)  121*   224  18  10392   254  50.44   27  55  11
12       SM Gavaskar (INDIA)   125   214  16  10122  236*  51.12   34  45  12
13         Younis Khan (PAK)   118   213  19  10099   313  52.05   34  33  19
14              HM Amla (SA)   124   215  16   9282  311*  46.64   28  41  13
15         GC Smith (ICC/SA)   117   205  13   9265   277  48.25   27  38  11
16            GA Gooch (ENG)   118   215   6   8900   333  42.58   20  46  13
17       Javed Miandad (PAK)   124   189  21   8832  280*  52.57   23  43   6
18  Inzamam-ul-Haq (ICC/PAK)   120   200  22   8830   329  49.60   25  46  15
19        VVS Laxman (INDIA)   134   225  34   8781   281  45.97   17  56  14

In [85]:
df1.drop(['NO'],axis=1,inplace=True)

In [86]:
df1

                      Player   Mat  Inns   Runs    HS    Ave  100  50   0
0               SR Tendulkar   200   329  15921  248*  53.78   51  68  14
1           RT Ponting (AUS)   168   287  13378   257  51.85   41  62  17
2         JH Kallis (ICC/SA)   166   280  13289   224  55.37   45  58  16
3       R Dravid (ICC/INDIA)   164   286  13288   270  52.31   36  63   8
4              AN Cook (ENG)   161   291  12472   294  45.35   33  57   9
5         KC Sangakkara (SL)   134   233  12400   319  57.40   38  52  11
6           BC Lara (ICC/WI)   131   232  11953  400*  52.88   34  48  17
7         S Chanderpaul (WI)   164   280  11867  203*  51.37   30  66  15
8      DPMD Jayawardene (SL)   149   252  11814   374  49.84   34  50  15
9            AR Border (AUS)   156   265  11174   205  50.56   27  63  11
10            SR Waugh (AUS)   168   260  10927   200  51.06   32  50  22
11             JE Root (ENG)  121*   224  10392   254  50.44   27  55  11
12       SM Gavaskar (INDIA)   125   214  10122  236*  51.12   34  45  12
13         Younis Khan (PAK)   118   213  10099   313  52.05   34  33  19
14              HM Amla (SA)   124   215   9282  311*  46.64   28  41  13
15         GC Smith (ICC/SA)   117   205   9265   277  48.25   27  38  11
16            GA Gooch (ENG)   118   215   8900   333  42.58   20  46  13
17       Javed Miandad (PAK)   124   189   8832  280*  52.57   23  43   6
18  Inzamam-ul-Haq (ICC/PAK)   120   200   8830   329  49.60   25  46  15
19        VVS Laxman (INDIA)   134   225   8781   281  45.97   17  56  14

In [87]:
df1.drop(18,axis=0,inplace=True)

In [88]:
df1

                   Player   Mat  Inns   Runs    HS    Ave  100  50   0
0            SR Tendulkar   200   329  15921  248*  53.78   51  68  14
1        RT Ponting (AUS)   168   287  13378   257  51.85   41  62  17
2      JH Kallis (ICC/SA)   166   280  13289   224  55.37   45  58  16
3    R Dravid (ICC/INDIA)   164   286  13288   270  52.31   36  63   8
4           AN Cook (ENG)   161   291  12472   294  45.35   33  57   9
5      KC Sangakkara (SL)   134   233  12400   319  57.40   38  52  11
6        BC Lara (ICC/WI)   131   232  11953  400*  52.88   34  48  17
7      S Chanderpaul (WI)   164   280  11867  203*  51.37   30  66  15
8   DPMD Jayawardene (SL)   149   252  11814   374  49.84   34  50  15
9         AR Border (AUS)   156   265  11174   205  50.56   27  63  11
10         SR Waugh (AUS)   168   260  10927   200  51.06   32  50  22
11          JE Root (ENG)  121*   224  10392   254  50.44   27  55  11
12    SM Gavaskar (INDIA)   125   214  10122  236*  51.12   34  45  12
13      Younis Khan (PAK)   118   213  10099   313  52.05   34  33  19
14           HM Amla (SA)   124   215   9282  311*  46.64   28  41  13
15      GC Smith (ICC/SA)   117   205   9265   277  48.25   27  38  11
16         GA Gooch (ENG)   118   215   8900   333  42.58   20  46  13
17    Javed Miandad (PAK)   124   189   8832  280*  52.57   23  43   6
19     VVS Laxman (INDIA)   134   225   8781   281  45.97   17  56  14

In [89]:
df1.reset_index(drop=True,inplace=True)

In [90]:
df1

                   Player   Mat  Inns   Runs    HS    Ave  100  50   0
0            SR Tendulkar   200   329  15921  248*  53.78   51  68  14
1        RT Ponting (AUS)   168   287  13378   257  51.85   41  62  17
2      JH Kallis (ICC/SA)   166   280  13289   224  55.37   45  58  16
3    R Dravid (ICC/INDIA)   164   286  13288   270  52.31   36  63   8
4           AN Cook (ENG)   161   291  12472   294  45.35   33  57   9
5      KC Sangakkara (SL)   134   233  12400   319  57.40   38  52  11
6        BC Lara (ICC/WI)   131   232  11953  400*  52.88   34  48  17
7      S Chanderpaul (WI)   164   280  11867  203*  51.37   30  66  15
8   DPMD Jayawardene (SL)   149   252  11814   374  49.84   34  50  15
9         AR Border (AUS)   156   265  11174   205  50.56   27  63  11
10         SR Waugh (AUS)   168   260  10927   200  51.06   32  50  22
11          JE Root (ENG)  121*   224  10392   254  50.44   27  55  11
12    SM Gavaskar (INDIA)   125   214  10122  236*  51.12   34  45  12
13      Younis Khan (PAK)   118   213  10099   313  52.05   34  33  19
14           HM Amla (SA)   124   215   9282  311*  46.64   28  41  13
15      GC Smith (ICC/SA)   117   205   9265   277  48.25   27  38  11
16         GA Gooch (ENG)   118   215   8900   333  42.58   20  46  13
17    Javed Miandad (PAK)   124   189   8832  280*  52.57   23  43   6
18     VVS Laxman (INDIA)   134   225   8781   281  45.97   17  56  14

In [91]:
df

                      Player   Mat  Inns  NO   Runs    HS    Ave  100  50   0
0       SR Tendulkar (INDIA)   200   329  33  15921  248*  53.78   51  68  14
1           RT Ponting (AUS)   168   287  29  13378   257  51.85   41  62  17
2         JH Kallis (ICC/SA)   166   280  40  13289   224  55.37   45  58  16
3       R Dravid (ICC/INDIA)   164   286  32  13288   270  52.31   36  63   8
4              AN Cook (ENG)   161   291  16  12472   294  45.35   33  57   9
5         KC Sangakkara (SL)   134   233  17  12400   319  57.40   38  52  11
6           BC Lara (ICC/WI)   131   232   6  11953  400*  52.88   34  48  17
7         S Chanderpaul (WI)   164   280  49  11867  203*  51.37   30  66  15
8      DPMD Jayawardene (SL)   149   252  15  11814   374  49.84   34  50  15
9            AR Border (AUS)   156   265  44  11174   205  50.56   27  63  11
10            SR Waugh (AUS)   168   260  46  10927   200  51.06   32  50  22
11             JE Root (ENG)  121*   224  18  10392   254  50.44   27  55  11
12       SM Gavaskar (INDIA)   125   214  16  10122  236*  51.12   34  45  12
13         Younis Khan (PAK)   118   213  19  10099   313  52.05   34  33  19
14              HM Amla (SA)   124   215  16   9282  311*  46.64   28  41  13
15         GC Smith (ICC/SA)   117   205  13   9265   277  48.25   27  38  11
16            GA Gooch (ENG)   118   215   6   8900   333  42.58   20  46  13
17       Javed Miandad (PAK)   124   189  21   8832  280*  52.57   23  43   6
18  Inzamam-ul-Haq (ICC/PAK)   120   200  22   8830   329  49.60   25  46  15
19        VVS Laxman (INDIA)   134   225  34   8781   281  45.97   17  56  14

In [97]:
type(df)

pandas.core.frame.DataFrame

In [108]:
df["Mat"][11]=121

C:\Users\nav7u\AppData\Local\Temp\ipykernel_23956\504611858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Mat"][11]=121

In [109]:
df.dtypes

Player     object
Mat        object
Inns        int64
NO          int64
Runs        int64
HS         object
Ave       float64
100         int64
50          int64
0           int64
dtype: object

In [110]:
df

                      Player  Mat  Inns  NO   Runs    HS    Ave  100  50   0
0       SR Tendulkar (INDIA)  200   329  33  15921  248*  53.78   51  68  14
1           RT Ponting (AUS)  168   287  29  13378   257  51.85   41  62  17
2         JH Kallis (ICC/SA)  166   280  40  13289   224  55.37   45  58  16
3       R Dravid (ICC/INDIA)  164   286  32  13288   270  52.31   36  63   8
4              AN Cook (ENG)  161   291  16  12472   294  45.35   33  57   9
5         KC Sangakkara (SL)  134   233  17  12400   319  57.40   38  52  11
6           BC Lara (ICC/WI)  131   232   6  11953  400*  52.88   34  48  17
7         S Chanderpaul (WI)  164   280  49  11867  203*  51.37   30  66  15
8      DPMD Jayawardene (SL)  149   252  15  11814   374  49.84   34  50  15
9            AR Border (AUS)  156   265  44  11174   205  50.56   27  63  11
10            SR Waugh (AUS)  168   260  46  10927   200  51.06   32  50  22
11             JE Root (ENG)  121   224  18  10392   254  50.44   27  55  11
12       SM Gavaskar (INDIA)  125   214  16  10122  236*  51.12   34  45  12
13         Younis Khan (PAK)  118   213  19  10099   313  52.05   34  33  19
14              HM Amla (SA)  124   215  16   9282  311*  46.64   28  41  13
15         GC Smith (ICC/SA)  117   205  13   9265   277  48.25   27  38  11
16            GA Gooch (ENG)  118   215   6   8900   333  42.58   20  46  13
17       Javed Miandad (PAK)  124   189  21   8832  280*  52.57   23  43   6
18  Inzamam-ul-Haq (ICC/PAK)  120   200  22   8830   329  49.60   25  46  15
19        VVS Laxman (INDIA)  134   225  34   8781   281  45.97   17  56  14

In [111]:
df=df.astype({'Mat':int})

In [112]:
df.dtypes

Player     object
Mat         int32
Inns        int64
NO          int64
Runs        int64
HS         object
Ave       float64
100         int64
50          int64
0           int64
dtype: object

In [114]:
df['HS'][0]=248

C:\Users\nav7u\AppData\Local\Temp\ipykernel_23956\3097632903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HS'][0]=248

In [115]:
df['HS'][6]=400

C:\Users\nav7u\AppData\Local\Temp\ipykernel_23956\440539862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HS'][6]=400

In [116]:
df['HS'][7]=203
df['HS'][12]=236
df['HS'][14]=311
df['HS'][17]=280

C:\Users\nav7u\AppData\Local\Temp\ipykernel_23956\1710028342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HS'][7]=203
C:\Users\nav7u\AppData\Local\Temp\ipykernel_23956\1710028342.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HS'][12]=236
C:\Users\nav7u\AppData\Local\Temp\ipykernel_23956\1710028342.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HS'][14]=311
C:\Users\nav7u\AppData\Local\Temp\ipykernel_23956\1710028342.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HS'][17]=280

In [117]:
df

                      Player  Mat  Inns  NO   Runs   HS    Ave  100  50   0
0       SR Tendulkar (INDIA)  200   329  33  15921  248  53.78   51  68  14
1           RT Ponting (AUS)  168   287  29  13378  257  51.85   41  62  17
2         JH Kallis (ICC/SA)  166   280  40  13289  224  55.37   45  58  16
3       R Dravid (ICC/INDIA)  164   286  32  13288  270  52.31   36  63   8
4              AN Cook (ENG)  161   291  16  12472  294  45.35   33  57   9
5         KC Sangakkara (SL)  134   233  17  12400  319  57.40   38  52  11
6           BC Lara (ICC/WI)  131   232   6  11953  400  52.88   34  48  17
7         S Chanderpaul (WI)  164   280  49  11867  203  51.37   30  66  15
8      DPMD Jayawardene (SL)  149   252  15  11814  374  49.84   34  50  15
9            AR Border (AUS)  156   265  44  11174  205  50.56   27  63  11
10            SR Waugh (AUS)  168   260  46  10927  200  51.06   32  50  22
11             JE Root (ENG)  121   224  18  10392  254  50.44   27  55  11
12       SM Gavaskar (INDIA)  125   214  16  10122  236  51.12   34  45  12
13         Younis Khan (PAK)  118   213  19  10099  313  52.05   34  33  19
14              HM Amla (SA)  124   215  16   9282  311  46.64   28  41  13
15         GC Smith (ICC/SA)  117   205  13   9265  277  48.25   27  38  11
16            GA Gooch (ENG)  118   215   6   8900  333  42.58   20  46  13
17       Javed Miandad (PAK)  124   189  21   8832  280  52.57   23  43   6
18  Inzamam-ul-Haq (ICC/PAK)  120   200  22   8830  329  49.60   25  46  15
19        VVS Laxman (INDIA)  134   225  34   8781  281  45.97   17  56  14

In [118]:
df.astype({'HS':int})

                      Player  Mat  Inns  NO   Runs   HS    Ave  100  50   0
0       SR Tendulkar (INDIA)  200   329  33  15921  248  53.78   51  68  14
1           RT Ponting (AUS)  168   287  29  13378  257  51.85   41  62  17
2         JH Kallis (ICC/SA)  166   280  40  13289  224  55.37   45  58  16
3       R Dravid (ICC/INDIA)  164   286  32  13288  270  52.31   36  63   8
4              AN Cook (ENG)  161   291  16  12472  294  45.35   33  57   9
5         KC Sangakkara (SL)  134   233  17  12400  319  57.40   38  52  11
6           BC Lara (ICC/WI)  131   232   6  11953  400  52.88   34  48  17
7         S Chanderpaul (WI)  164   280  49  11867  203  51.37   30  66  15
8      DPMD Jayawardene (SL)  149   252  15  11814  374  49.84   34  50  15
9            AR Border (AUS)  156   265  44  11174  205  50.56   27  63  11
10            SR Waugh (AUS)  168   260  46  10927  200  51.06   32  50  22
11             JE Root (ENG)  121   224  18  10392  254  50.44   27  55  11
12       SM Gavaskar (INDIA)  125   214  16  10122  236  51.12   34  45  12
13         Younis Khan (PAK)  118   213  19  10099  313  52.05   34  33  19
14              HM Amla (SA)  124   215  16   9282  311  46.64   28  41  13
15         GC Smith (ICC/SA)  117   205  13   9265  277  48.25   27  38  11
16            GA Gooch (ENG)  118   215   6   8900  333  42.58   20  46  13
17       Javed Miandad (PAK)  124   189  21   8832  280  52.57   23  43   6
18  Inzamam-ul-Haq (ICC/PAK)  120   200  22   8830  329  49.60   25  46  15
19        VVS Laxman (INDIA)  134   225  34   8781  281  45.97   17  56  14

In [123]:
df.loc[(df['Mat']<150) & (df['Ave']>50)]

                 Player  Mat  Inns  NO   Runs   HS    Ave  100  50   0
5    KC Sangakkara (SL)  134   233  17  12400  319  57.40   38  52  11
6      BC Lara (ICC/WI)  131   232   6  11953  400  52.88   34  48  17
11        JE Root (ENG)  121   224  18  10392  254  50.44   27  55  11
12  SM Gavaskar (INDIA)  125   214  16  10122  236  51.12   34  45  12
13    Younis Khan (PAK)  118   213  19  10099  313  52.05   34  33  19
17  Javed Miandad (PAK)  124   189  21   8832  280  52.57   23  43   6

In [278]:
df[(df['Mat']<150) & (df['Ave']>50)]

                 Player  Mat  Inns  NO   Runs   HS    Ave  100  50   0
5    KC Sangakkara (SL)  134   233  17  12400  319  57.40   38  52  11
6      BC Lara (ICC/WI)  131   232   6  11953  400  52.88   34  48  17
11        JE Root (ENG)  121   224  18  10392  254  50.44   27  55  11
12  SM Gavaskar (INDIA)  125   214  16  10122  236  51.12   34  45  12
13    Younis Khan (PAK)  118   213  19  10099  313  52.05   34  33  19
17  Javed Miandad (PAK)  124   189  21   8832  280  52.57   23  43   6

In [125]:
df.loc[6:,['Player','Mat',100]]

                      Player  Mat  100
6           BC Lara (ICC/WI)  131   34
7         S Chanderpaul (WI)  164   30
8      DPMD Jayawardene (SL)  149   34
9            AR Border (AUS)  156   27
10            SR Waugh (AUS)  168   32
11             JE Root (ENG)  121   27
12       SM Gavaskar (INDIA)  125   34
13         Younis Khan (PAK)  118   34
14              HM Amla (SA)  124   28
15         GC Smith (ICC/SA)  117   27
16            GA Gooch (ENG)  118   20
17       Javed Miandad (PAK)  124   23
18  Inzamam-ul-Haq (ICC/PAK)  120   25
19        VVS Laxman (INDIA)  134   17

In [130]:
df.iloc[[6],:]

             Player  Mat  Inns  NO   Runs   HS    Ave  100  50   0
6  BC Lara (ICC/WI)  131   232   6  11953  400  52.88   34  48  17

In [132]:
df.sort_values(by=[100],ascending=False) #sort by particular value

                      Player  Mat  Inns  NO   Runs   HS    Ave  100  50   0
0       SR Tendulkar (INDIA)  200   329  33  15921  248  53.78   51  68  14
2         JH Kallis (ICC/SA)  166   280  40  13289  224  55.37   45  58  16
1           RT Ponting (AUS)  168   287  29  13378  257  51.85   41  62  17
5         KC Sangakkara (SL)  134   233  17  12400  319  57.40   38  52  11
3       R Dravid (ICC/INDIA)  164   286  32  13288  270  52.31   36  63   8
6           BC Lara (ICC/WI)  131   232   6  11953  400  52.88   34  48  17
13         Younis Khan (PAK)  118   213  19  10099  313  52.05   34  33  19
8      DPMD Jayawardene (SL)  149   252  15  11814  374  49.84   34  50  15
12       SM Gavaskar (INDIA)  125   214  16  10122  236  51.12   34  45  12
4              AN Cook (ENG)  161   291  16  12472  294  45.35   33  57   9
10            SR Waugh (AUS)  168   260  46  10927  200  51.06   32  50  22
7         S Chanderpaul (WI)  164   280  49  11867  203  51.37   30  66  15
14              HM Amla (SA)  124   215  16   9282  311  46.64   28  41  13
11             JE Root (ENG)  121   224  18  10392  254  50.44   27  55  11
9            AR Border (AUS)  156   265  44  11174  205  50.56   27  63  11
15         GC Smith (ICC/SA)  117   205  13   9265  277  48.25   27  38  11
18  Inzamam-ul-Haq (ICC/PAK)  120   200  22   8830  329  49.60   25  46  15
17       Javed Miandad (PAK)  124   189  21   8832  280  52.57   23  43   6
16            GA Gooch (ENG)  118   215   6   8900  333  42.58   20  46  13
19        VVS Laxman (INDIA)  134   225  34   8781  281  45.97   17  56  14

In [135]:
df.sort_values(by=[100],ascending=False) #sort by particular value

                      Player  Mat  Inns  NO   Runs   HS    Ave  100  50   0
0       SR Tendulkar (INDIA)  200   329  33  15921  248  53.78   51  68  14
2         JH Kallis (ICC/SA)  166   280  40  13289  224  55.37   45  58  16
1           RT Ponting (AUS)  168   287  29  13378  257  51.85   41  62  17
5         KC Sangakkara (SL)  134   233  17  12400  319  57.40   38  52  11
3       R Dravid (ICC/INDIA)  164   286  32  13288  270  52.31   36  63   8
6           BC Lara (ICC/WI)  131   232   6  11953  400  52.88   34  48  17
13         Younis Khan (PAK)  118   213  19  10099  313  52.05   34  33  19
8      DPMD Jayawardene (SL)  149   252  15  11814  374  49.84   34  50  15
12       SM Gavaskar (INDIA)  125   214  16  10122  236  51.12   34  45  12
4              AN Cook (ENG)  161   291  16  12472  294  45.35   33  57   9
10            SR Waugh (AUS)  168   260  46  10927  200  51.06   32  50  22
7         S Chanderpaul (WI)  164   280  49  11867  203  51.37   30  66  15
14              HM Amla (SA)  124   215  16   9282  311  46.64   28  41  13
11             JE Root (ENG)  121   224  18  10392  254  50.44   27  55  11
9            AR Border (AUS)  156   265  44  11174  205  50.56   27  63  11
15         GC Smith (ICC/SA)  117   205  13   9265  277  48.25   27  38  11
18  Inzamam-ul-Haq (ICC/PAK)  120   200  22   8830  329  49.60   25  46  15
17       Javed Miandad (PAK)  124   189  21   8832  280  52.57   23  43   6
16            GA Gooch (ENG)  118   215   6   8900  333  42.58   20  46  13
19        VVS Laxman (INDIA)  134   225  34   8781  281  45.97   17  56  14

In [137]:
df.memory_usage()

Index     128
Player    160
Mat        80
Inns      160
NO        160
Runs      160
HS        160
Ave       160
100       160
50        160
0         160
dtype: int64

In [141]:
s=pd.read_csv('Student.csv')

In [142]:
s

   Unnamed: 0    name  marks      city
0           0   Harry     90   Lucknow
1           1   Rohan     87    Mumbai
2           2  Skillf     79     Delhi
3           3    Subh     85  Banglore

In [144]:
s.drop('Unnamed: 0',axis=1,inplace=True)

In [145]:
s

     name  marks      city
0   Harry     90   Lucknow
1   Rohan     87    Mumbai
2  Skillf     79     Delhi
3    Subh     85  Banglore

In [146]:
s.loc[len(s.index)]=['Nevendra',86,'Noida']  #adding a new row in table

In [147]:
s

       name  marks      city
0     Harry     90   Lucknow
1     Rohan     87    Mumbai
2    Skillf     79     Delhi
3      Subh     85  Banglore
4  Nevendra     86     Noida

In [148]:
s.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [153]:
s

       name  marks      city
0     Harry     90   Lucknow
1     Rohan     87    Mumbai
2    Skillf     79     Delhi
3      Subh     85  Banglore
4  Nevendra     86     Noida

In [156]:
df

                      Player  Mat  Inns  NO   Runs   HS    Ave  100  50   0
0       SR Tendulkar (INDIA)  200   329  33  15921  248  53.78   51  68  14
1           RT Ponting (AUS)  168   287  29  13378  257  51.85   41  62  17
2         JH Kallis (ICC/SA)  166   280  40  13289  224  55.37   45  58  16
3       R Dravid (ICC/INDIA)  164   286  32  13288  270  52.31   36  63   8
4              AN Cook (ENG)  161   291  16  12472  294  45.35   33  57   9
5         KC Sangakkara (SL)  134   233  17  12400  319  57.40   38  52  11
6           BC Lara (ICC/WI)  131   232   6  11953  400  52.88   34  48  17
7         S Chanderpaul (WI)  164   280  49  11867  203  51.37   30  66  15
8      DPMD Jayawardene (SL)  149   252  15  11814  374  49.84   34  50  15
9            AR Border (AUS)  156   265  44  11174  205  50.56   27  63  11
10            SR Waugh (AUS)  168   260  46  10927  200  51.06   32  50  22
11             JE Root (ENG)  121   224  18  10392  254  50.44   27  55  11
12       SM Gavaskar (INDIA)  125   214  16  10122  236  51.12   34  45  12
13         Younis Khan (PAK)  118   213  19  10099  313  52.05   34  33  19
14              HM Amla (SA)  124   215  16   9282  311  46.64   28  41  13
15         GC Smith (ICC/SA)  117   205  13   9265  277  48.25   27  38  11
16            GA Gooch (ENG)  118   215   6   8900  333  42.58   20  46  13
17       Javed Miandad (PAK)  124   189  21   8832  280  52.57   23  43   6
18  Inzamam-ul-Haq (ICC/PAK)  120   200  22   8830  329  49.60   25  46  15
19        VVS Laxman (INDIA)  134   225  34   8781  281  45.97   17  56  14

In [174]:
s

       name  marks      city
0     Harry     90   Lucknow
1     Rohan     87    Mumbai
2    Skillf     79     Delhi
3      Subh     85  Banglore
4  Nevendra     86     Noida

In [179]:
s.loc['name']

name     NaN
marks    NaN
city     NaN
Name: name, dtype: object

In [180]:
s

          name  marks      city
0        Harry   90.0   Lucknow
1        Rohan   87.0    Mumbai
2       Skillf   79.0     Delhi
3         Subh   85.0  Banglore
4     Nevendra   86.0     Noida
name       NaN    NaN       NaN

In [183]:
s.drop('name',axis=0,inplace=True)

In [194]:
s.loc[0]['marks']

90.0

In [203]:
s.loc[4]['name','marks']=['Shivendra',96]

C:\Users\nav7u\AppData\Local\Temp\ipykernel_23956\2766063003.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s.loc[4]['name','marks']=['Shivendra',96]
C:\Users\nav7u\AppData\Local\Temp\ipykernel_23956\2766063003.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s.loc[4]['name','marks']=['Shivendra',96]

In [205]:
s

       name  marks      city
0     Harry   90.0   Lucknow
1     Rohan   87.0    Mumbai
2    Skillf   79.0     Delhi
3      Subh   85.0  Banglore
4  Nevendra   86.0     Noida

In [208]:
s.loc[4]['name']='Shivendra'

C:\Users\nav7u\AppData\Local\Temp\ipykernel_23956\484586062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s.loc[4]['name']='Shivendra'

In [209]:
s

       name  marks      city
0     Harry   90.0   Lucknow
1     Rohan   87.0    Mumbai
2    Skillf   79.0     Delhi
3      Subh   85.0  Banglore
4  Nevendra   86.0     Noida

In [214]:
s.loc[4,'name']='Shivendra'

In [215]:
s

        name  marks      city
0      Harry   90.0   Lucknow
1      Rohan   87.0    Mumbai
2     Skillf   79.0     Delhi
3       Subh   85.0  Banglore
4  Shivendra   86.0     Noida

In [217]:
s.loc[4,['name','marks']]=['Nevendra',96]

In [235]:
s

   marks      city gendra
0   90.0   Lucknow   None
1   87.0    Mumbai   None
2   79.0     Delhi   None
3   85.0  Banglore   None
4   96.0     Noida   None

In [236]:
dict={
    'NUM':[5,10,15,20,25,30,35,40,45]
}

In [237]:
num=pd.DataFrame(dict)

In [238]:
num.to_csv('maths.csv')

In [239]:
num

   NUM
0    5
1   10
2   15
3   20
4   25
5   30
6   35
7   40
8   45

In [240]:
len(s.columns)

3

In [256]:
s.drop('name',axis=1,inplace=True)

In [258]:
s.insert(0,'Name',None)

In [259]:
s

   Name  marks      city
0  None   90.0   Lucknow
1  None   87.0    Mumbai
2  None   79.0     Delhi
3  None   85.0  Banglore
4  None   96.0     Noida

In [260]:
s.loc[:,['Name']]=['nevedra','harry','shivendra','rohit','mohit']

In [261]:
s

        Name  marks      city
0    nevedra   90.0   Lucknow
1      harry   87.0    Mumbai
2  shivendra   79.0     Delhi
3      rohit   85.0  Banglore
4      mohit   96.0     Noida

In [262]:
num

   NUM
0    5
1   10
2   15
3   20
4   25
5   30
6   35
7   40
8   45

In [266]:
def square(x):
    return x*x

num['SQAURE OF NUM']=[square(i) for i in num['NUM']]

In [267]:
num

   NUM  SQAURE OF NUM
0    5             25
1   10            100
2   15            225
3   20            400
4   25            625
5   30            900
6   35           1225
7   40           1600
8   45           2025

In [270]:
def cube(x):
    return x*x
num['CUBE OF NUM']=[cube(i) for i in num['NUM']]

In [271]:
num

   NUM  SQAURE OF NUM  CUBE OF NUM
0    5             25          125
1   10            100         1000
2   15            225         3375
3   20            400         8000
4   25            625        15625
5   30            900        27000
6   35           1225        42875
7   40           1600        64000
8   45           2025        91125

In [272]:
s

        Name  marks      city
0    nevedra   90.0   Lucknow
1      harry   87.0    Mumbai
2  shivendra   79.0     Delhi
3      rohit   85.0  Banglore
4      mohit   96.0     Noida

In [275]:
s.loc[3.5] = ['cherry', 98, 'london']
s = s.sort_index().reset_index(drop=True)        #insert row at specific condition

In [276]:
s

        Name  marks      city
0    nevedra   90.0   Lucknow
1      harry   87.0    Mumbai
2      Jerry   98.0    Madrid
3  shivendra   79.0     Delhi
4     cherry   98.0    london
5      rohit   85.0  Banglore
6      mohit   96.0     Noida

In [277]:
s.to_csv('Student.csv')

In [279]:
df

                      Player  Mat  Inns  NO   Runs   HS    Ave  100  50   0
0       SR Tendulkar (INDIA)  200   329  33  15921  248  53.78   51  68  14
1           RT Ponting (AUS)  168   287  29  13378  257  51.85   41  62  17
2         JH Kallis (ICC/SA)  166   280  40  13289  224  55.37   45  58  16
3       R Dravid (ICC/INDIA)  164   286  32  13288  270  52.31   36  63   8
4              AN Cook (ENG)  161   291  16  12472  294  45.35   33  57   9
5         KC Sangakkara (SL)  134   233  17  12400  319  57.40   38  52  11
6           BC Lara (ICC/WI)  131   232   6  11953  400  52.88   34  48  17
7         S Chanderpaul (WI)  164   280  49  11867  203  51.37   30  66  15
8      DPMD Jayawardene (SL)  149   252  15  11814  374  49.84   34  50  15
9            AR Border (AUS)  156   265  44  11174  205  50.56   27  63  11
10            SR Waugh (AUS)  168   260  46  10927  200  51.06   32  50  22
11             JE Root (ENG)  121   224  18  10392  254  50.44   27  55  11
12       SM Gavaskar (INDIA)  125   214  16  10122  236  51.12   34  45  12
13         Younis Khan (PAK)  118   213  19  10099  313  52.05   34  33  19
14              HM Amla (SA)  124   215  16   9282  311  46.64   28  41  13
15         GC Smith (ICC/SA)  117   205  13   9265  277  48.25   27  38  11
16            GA Gooch (ENG)  118   215   6   8900  333  42.58   20  46  13
17       Javed Miandad (PAK)  124   189  21   8832  280  52.57   23  43   6
18  Inzamam-ul-Haq (ICC/PAK)  120   200  22   8830  329  49.60   25  46  15
19        VVS Laxman (INDIA)  134   225  34   8781  281  45.97   17  56  14

In [289]:
df.to_excel('records.xlsx',index=False)

In [307]:
s.drop(5,axis=0,inplace=True)

In [308]:
s

        Name  marks      city
0    nevedra   90.0   Lucknow
1      harry   87.0    Mumbai
2      Jerry   98.0    Madrid
3  shivendra   79.0     Delhi
4     cherry   98.0    london
6      rohit   85.0  Banglore
7      mohit   96.0     Noida

In [309]:
s.loc[4.5] = ['cherry', 98, 'london']
s = s.sort_index().reset_index(drop=True)

In [310]:
s

        Name  marks      city
0    nevedra   90.0   Lucknow
1      harry   87.0    Mumbai
2      Jerry   98.0    Madrid
3  shivendra   79.0     Delhi
4     cherry   98.0    london
5     cherry   98.0    london
6      rohit   85.0  Banglore
7      mohit   96.0     Noida

In [311]:
s.index

RangeIndex(start=0, stop=8, step=1)

In [312]:
s.columns

Index(['Name', 'marks', 'city'], dtype='object')